/* moving each individual FD to the left for each step */
@keyframes moveFD {
    0% {
        position: relative;
        left: 0vw;
    }
    25% {
        position: relative;
        left: 2vw;
    }
    50% {
        position: relative;
        left: 4vw;
    }
    75% {
        position: relative;
        left: 6vw;
    }
    100% {
        position: relative;
        left: 8vw;
    }
}

/* moving each individual FD to their original position for each step */
@keyframes revertFD {
    0% {
        position: relative;
        right: -8vw;
    }
    25% {
        position: relative;
        right: -6vw;
    }
    50% {
        position: relative;
        right: -4vw;
    }
    75% {
        position: relative;
        right: -2vw;
    }
    100% {
        position: relative;
        right: 0vw;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        color: black;
    }
    100% {
        opacity: 1;
        color: #39ff14;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        color: #39ff14;
    }
    100% {
        opacity: 1;
        color: black;
    }
}

@keyframes fadeInErr {
    0% {
        opacity: 0;
        color: black;
    }
    100% {
        opacity: 1;
        color: #ff0000;
    }
}

@keyframes fadeOutErr {
    0% {
        opacity: 1;
        color: #ff0000;
    }
    100% {
        opacity: 1;
        color: black;
    }
}

@keyframes fadeInInfo {
    0% {
        opacity: 0;
        color: black;
    }
    100% {
        opacity: 1;
        color: #ffba19;
    }
}

@keyframes fadeOutInfo {
    0% {
        opacity: 1;
        color: #ffba19;
    }
    100% {
        opacity: 1;
        color: black;
    }
}

@keyframes fadeInHeader {
    0% {
        opacity: 0;
        color: white;
    }
    100% {
        opacity: 1;
        color: #39ff14;
    }
}

@keyframes fadeOutHeader {
    0% {
        opacity: 1;
        color: #39ff14;
    }
    100% {
        opacity: 1;
        color: white;
    }
}

@keyframes fadeInErrHeader {
    0% {
        opacity: 0;
        color: white;
    }
    100% {
        opacity: 1;
        color: #ff0000;
    }
}

@keyframes fadeOutErrHeader {
    0% {
        opacity: 1;
        color: #ff0000;
    }
    100% {
        opacity: 1;
        color: white;
    }
}