#code {
    background-color: rgb(230, 230, 230);
    border-radius: 45px;
    background: rgb(230, 230, 230);
    border: 1px solid black;
}

ul.b {
    list-style-type: square;
}

.tab {
    margin-left: 3%;
}

.marginBottom2 {
    margin-bottom: 2%;
}