#logoDiv {
    margin-top: 8vh;
}

#tableDiv {
    height: 40vh;
    margin-top: 2%;
}

#logoImg {
    width: 5%;
    position: absolute;
    top: 2%;
    left: 1%;
}

#logoText {
    text-align: center;
    font-size: 100px;
    color: white;
}

#tableHome {
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-size: 3vh;
    min-width: 10vw;
    background-color: white;
    margin: 0 auto;
}

#tableHome tr {
    height: 10vh;
}

#tableHome tbody tr {
    background-color: white;
}

#tableHome th, #tableHome td {
    min-width: 15vw;
}

#description {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2%;
}

#githubIcon {
    position: absolute;
    top: 2%;
    right: 1%;
    color: black;
}

#footer {
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 100%;
    text-align: right;
}