/* https://visme.co/blog/website-color-schemes/ <- color pallets */

body {
    font-family: 'Alegreya Sans', sans-serif;
}

#body {
    margin-left: 5%;
    margin-right: 5%;
}

/* for titles of the examples (multiple choice, make instance) */
h4 {
    margin-top: 5%;
}

/* used for both the algorithm visualizer and the quiz maker */
button {
    min-height: 5vh;
    min-width: 5vw;
    margin: 1%;
    margin-top: 5%;
    background-color: #5680e9;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    color: white;
    padding: 1%;
}

button:disabled {
    background-color: #c1c8e4;
    cursor: default;
}

thead tr {
    background-color: #5680e9;
    color: #ffffff;
}

th, td {
    padding: 1% 2%;
    max-width: 80px;
}

tbody tr:last-of-type {
    border-bottom: 3px solid #5680e9;
}

tbody tr:nth-of-type(even) {
    background-color: #c1c8e4;
}